* {
    box-sizing: border-box;
    margin: 0;padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(90deg , #123 , #321);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    color: #123456;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 16px;
}
.title {
    margin-bottom: 24px;
    font-size: 36px;
}
.select {
    margin-bottom: 24px;
    outline: none;
    width: 100px;
    font-size: 18px;
    text-align: center;
}
.player-title {
    margin-bottom: 20px;
    font-size: 32px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}
button {
    padding: 12px 24px;
    display: block;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 0.6;
}
.player-one-btn {
    background-color: #567189;
}
.player-two-btn {
    background-color: #1F8A70;
}
.reset-btn {
    background-color: #123456;
    width: 240px;
}

